<div class="user-details">
  <h1>What I've Worked On</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="vroom" src="{{ "/assets/img/vroom.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Vroom</h3>
    <p>Crafted by a team of 5 in JavaScript with React Native and Firebase, Vroom was my capstone software engineering project in university. Over the course of a year, I learned Scrum, Continuous Integration, and version control (git) to produce the final version.</p>
    <a class="project-link" target="_blank" href="https://github.com/eltoncrego/revi-tech-web">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="cachecalculator" src="{{ "/assets/img/cache_calculator.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Cache Calculator</h3>
    <p>Built with HTML, Bootstrap, and JavaScript, this was a small side project I worked on for my computer architecture class to quickly make cache and memory calculations.</p>
    <a class="project-link" target="_blank" href="{{ "/cache_calculator" | prepend: site.baseurl }}">Take a look</a>
  </div>
</div>
