#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  margin: 10px;
  width: 100%;
}

.work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  h3 {
    margin: 0%;
    padding: 0%;
  }

}

.work-details {
  text-align: left;
  width: 100%;
  margin-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  p {
    color: $red;
    margin: 0%;
  }
}

.work-details-right {
  text-align: right;
  background-color: #ebebeb;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  p {
    color: $red;
    margin: 0%;
    margin-right: 5%;
  }
  h3 {
    margin-right: 5%;
  }
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
}
